﻿.vs/
.vs/AppAtusPies/FileContentIndex/3d667cda-a44b-4cff-9af3-59ee858b5aa6.vsidx
.vs/AppAtusPies/config/applicationhost.config
.vs/AppAtusPies/FileContentIndex/24596ef1-29e9-4925-9ea0-441753735e20.vsidx
.vs/AppAtusPies/v17/.suo
.vs/AppAtusPies/v17/DocumentLayout.json
