﻿.vs/
.vs/AppAtusPies/FileContentIndex/3d667cda-a44b-4cff-9af3-59ee858b5aa6.vsidx
.vs/AppAtusPies/config/applicationhost.config
.vs/AppAtusPies/FileContentIndex/24596ef1-29e9-4925-9ea0-441753735e20.vsidx
.vs/AppAtusPies/v17/.suo
.vs/AppAtusPies/v17/DocumentLayout.json
.vs/AppAtusPies/FileContentIndex/54f7eeb3-e424-4c94-9537-7b48336aa685.vsidx
.vs/AppAtusPies/FileContentIndex/5b9e8c40-2c9f-472b-9ad3-fdf5148fc447.vsidx
.vs/AppAtusPies/FileContentIndex/6a720471-06b3-4c69-a668-45462f692bd6.vsidx
.vs/AppAtusPies/FileContentIndex/2f35864d-e88f-481f-b89d-66683cec1773.vsidx
.vs/AppAtusPies/FileContentIndex/bed80fd7-d42e-4945-bc26-bb4116d0d35c.vsidx
.vs/AppAtusPies/FileContentIndex/d6489906-3e02-4acb-856b-ed89b3a5d46b.vsidx
.vs/AppAtusPies/FileContentIndex/48478dbb-6aa7-4962-ac14-a1a6dc78cd42.vsidx
.vs/AppAtusPies/FileContentIndex/9e388fa9-7337-4b45-bedd-9f1b96ed06a3.vsidx
.vs/AppAtusPies/FileContentIndex/211df74f-ac8f-4cb1-8b89-d4b21ba166ba.vsidx
.vs/AppAtusPies/FileContentIndex/b65b3d75-5230-467c-a426-2b457667d1ed.vsidx
AppAtusPies/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/AppAtusPies/FileContentIndex/19dfacb9-6743-45be-997d-e5d497d9449c.vsidx
.vs/AppAtusPies/FileContentIndex/6d41b90d-7019-4460-a356-0953075a09a9.vsidx
.vs/AppAtusPies/FileContentIndex/fb52b33a-dfa3-418e-943d-3a3f3bedb9d7.vsidx
/.vs/AppAtusPies/FileContentIndex
/.vs/AppAtusPies/FileContentIndex
