﻿.vs/
.vs/AppAtusPies/FileContentIndex/3d667cda-a44b-4cff-9af3-59ee858b5aa6.vsidx
.vs/AppAtusPies/config/applicationhost.config
.vs/AppAtusPies/FileContentIndex/24596ef1-29e9-4925-9ea0-441753735e20.vsidx
.vs/AppAtusPies/v17/.suo
.vs/AppAtusPies/v17/DocumentLayout.json
.vs/AppAtusPies/FileContentIndex/54f7eeb3-e424-4c94-9537-7b48336aa685.vsidx
.vs/AppAtusPies/FileContentIndex/5b9e8c40-2c9f-472b-9ad3-fdf5148fc447.vsidx
.vs/AppAtusPies/FileContentIndex/6a720471-06b3-4c69-a668-45462f692bd6.vsidx
